body {
  font-family: Arial, sans-serif;
}

header {
  background-size: contain;
  height: 300px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
